__pycache__/
/django-env/
.idea
/ratenyu/db.sqlite3
/ratenyu/ratenyu/db.sqlite3
/ratenyu/static/admin
.env
.DS_store
/ratenyu/courses/migrations/
/ratenyu/professors/migrations/

/ratenyu/.elasticbeanstalk/*
/ratenyu/!.elasticbeanstalk/*.cfg.yml
/ratenyu/!.elasticbeanstalk/*.global.yml
