/* For navbar   */

/*nav bar class*/
.navbar {
  background: #702B9D;
  overflow: hidden;
  margin: -0.1%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100.5%;
}

/*navbar links*/
.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 60px;
}

/*navbar links hover*/
.navbar a:hover {
  background-color: black;
  color: #FFFFFF;
}

/*to style RateNYU in upper left*/
.title {
  font-size: 20px;
  font-family: inter-semibold;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
  padding-left: 30px;
  width: 100px;
  height: 60px;
}

/*to put login button on upper right of navbar*/
.navbar-right {
  float: right;
  padding-right: 5px;
}

/*li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  !*padding: 14px 16px;*/
/*  text-decoration: none;*!*/
/*}*/

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  font-family: inter-regular;
  float: left;
}

/* For search page */

h1.welcome {
  font-size: 75px;
  /*font-size: 3.5vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  line-height: 40%;
}

h1, h2, h3 {
  font-family: inter-semibold;
  font-weight: 700;
}

h2.welcome {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* Align index page search bar in center */
.searchbar {
  text-align: center;
}

form.search {
  display: inline-block;
  flex-wrap: nowrap;
  width: 50%;
  padding-bottom: 50px;
}

.dropdown {
  width: 25%;
  font-size: 18px;
  font-family: inter-regular;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

.nyu-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 300px;
  background-image: url('/static/images/nyulogo.png');
  background-size: 100% 100%;
}

input {
  font-family: inter-regular;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 7px;
}

input.search {
  font-size: 18px;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  font-family: inter-regular;
  background: #FFFFFF;
  cursor: pointer;
}

button.search {
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}


/* For Detail Pages */

p, ul {
  font-family: inter-regular;
}

ul.detail-left-section {
  font-size: 15px;
  position: absolute;
  top: 95px;
  margin-left: 0px;
  padding-left: 10px;
  list-style: none;
  text-align: left;
  z-index:-1;
}

ul.detail-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:120px;
}

.detail-side-links > li {
  padding-bottom: 20px;
}

/*format name and average rating to be in middle of page with appropriate font size*/
.detail-title {
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 50px;
}

/* Add spacing between detail name and detail rating */
.detail-name {
  margin-right: 15px;
}

/*format course id and number of reviews to be right under name and average rating in a smaller font*/
.detail-sub-title {
  margin: -110px auto 50px auto;
  font-size: 15px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/*format course description to be right under subtitle*/
.detail-sub-course-desc {
  margin: -50px auto 50px auto;
  width: 70%;
  text-align: left;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.detail-dropdown {
  margin: auto;
  display: block;
  width: 70%;
  text-align: left;
  font-size: 10px;
}

/*set appropriate width for the dropdown to fit all the text*/
#detail-dropdown {
  width: 200px;
  font-size: 14px;
}

/*put reviews in middle of page under drop down*/
.all-reviews {
  margin: auto;
  width: 70%;
  text-align: left;
}

div.review {
  display: flex;
}

.review > p {
  margin-right: 20px;
}

/*review takes up 10/11 of width; grade, review date, rating take up 1/11*/
div.review > p:nth-of-type(2) {
  flex: 10;
}

/*bold the title section of each review*/
span.rev-title, span.left-section {
  font-family: inter-bold;
}

/* Fonts */

@font-face {
  font-family: 'inter-bold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-regular';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-medium';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-black';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Black.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-light';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-semibold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-SemiBold.ttf') format("truetype");
}
